################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/appsettings.json
/bin/Debug/net8.0
/Migrations
/.vs
/Api.csproj
/obj/Debug/net8.0/Api.sourcelink.json
/obj/Debug/net8.0/Api.pdb
/obj/Debug/net8.0/Api.AssemblyInfoInputs.cache
/obj/Debug/net8.0/Api.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/Api.dll
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/Api.AssemblyInfo.cs
/obj/Debug/net8.0/ref/Api.dll
/obj/Debug/net8.0/refint/Api.dll
